<div class="container">
  <div class="row">
    <div class="col" *ngFor="let item of data.results | paginate: { itemsPerPage: 3, currentPage: p }">
    <h2 class="card-title"> <b> {{item.name}} </b> </h2>
    <a href={{item.link}} class="card-link mb-2"> {{item.link}} </a>
    <p class="card-text"> {{item.bio}} </p>
    <button type="button" class="btn btn-primary" (click)="onsave()"> Add Favourite </button>
    </div>
    <pagination-controls (pageChange)="p = $event"> </pagination-controls>
  </div>
</div>
